<html>
  <head>
    <title>Editer un potin</title>
  </head>
  <body>
    <h1>Edite donc !</h1>
    <p>Edite le potin via le formulaire ci-dessous</p>
    <form action='/gossips/<%= id%>/edit' method='POST'>
      Saisi ici ton alias :  <input type='text' name='gossip_author'/><br/>
      Quel est le vrai potin : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>
