<html>
  <head>
    <title>
      PAGE POTIN
    </title>
  </head>

  <body>
    <h1>
      Voici le numéro du potin n°<%= id%>
    </h1>
    <p>
      Son auteur : ==<strong><%= gossip[0]%></strong>==<br>
      Le contenu du potin: =="<%= gossip[1]%>"==<br>
      <a href=<%="/gossips/#{id}/edit"%>>Editer le potin</a>
    </p>
  </body>
</html>
